wallet.FCStd filter=lfs diff=lfs merge=lfs -text
combo-triangle.FCStd filter=lfs diff=lfs merge=lfs -text
theater-flat.FCStd filter=lfs diff=lfs merge=lfs -text
corny-cooler/keg-cooler.FCStd filter=lfs diff=lfs merge=lfs -text
emt-connectors/emt-half-inch-corner-v2.FCStd filter=lfs diff=lfs merge=lfs -text
shop-tools/dowel-jig/dowel-jig-v3.FCStd filter=lfs diff=lfs merge=lfs -text
shop-layout/shop-layout-b.FCStd filter=lfs diff=lfs merge=lfs -text
shop-tools/chisel-sharpener/chisel[[:space:]]sharpener.FCStd filter=lfs diff=lfs merge=lfs -text
pill[[:space:]]boxes/hex-pillbox.FCStd filter=lfs diff=lfs merge=lfs -text
shop-tools/vacuum-hose-adaptor/vacuum-hose-adaptor-v2.sync-conflict-20210309-105518-MWKP2TI.FCStd filter=lfs diff=lfs merge=lfs -text
demo/piggie[[:space:]]cart[[:space:]]design.FCStd filter=lfs diff=lfs merge=lfs -text
emt-connectors/new-version.FCStd filter=lfs diff=lfs merge=lfs -text
furniture/table-prototype.FCStd filter=lfs diff=lfs merge=lfs -text
pill[[:space:]]boxes/drawings-for-hex.FCStd filter=lfs diff=lfs merge=lfs -text
shop-tools/band-saw-insert/band-saw-insert.FCStd filter=lfs diff=lfs merge=lfs -text
demo/learning-shapebinder.FCStd filter=lfs diff=lfs merge=lfs -text
piggie-cage/piggie-cage-v0.0.2.FCStd filter=lfs diff=lfs merge=lfs -text
shop-tools/workbench.FCStd filter=lfs diff=lfs merge=lfs -text
shop-tools/wood-vise/wood[[:space:]]vise[[:space:]]design.FCStd filter=lfs diff=lfs merge=lfs -text
table_gussets/table_gussets_v4.FCStd filter=lfs diff=lfs merge=lfs -text
demo/mechanical-linkages-sketches.FCStd filter=lfs diff=lfs merge=lfs -text
demo/progressive-embiggeng.FCStd filter=lfs diff=lfs merge=lfs -text
perforator/perforatorV02.FCStd filter=lfs diff=lfs merge=lfs -text
shop-tools/dowel-jig/38_dowel_jig_FACE.FCStd filter=lfs diff=lfs merge=lfs -text
shop-tools/dowel-jig/3_8ths-dowel.FCStd filter=lfs diff=lfs merge=lfs -text
archive/jelly-comb-mouse-wheel/jelly-comb-wheel.FCStd filter=lfs diff=lfs merge=lfs -text
emt-connectors/emt-pvc-WIP.FCStd filter=lfs diff=lfs merge=lfs -text
organizers/cable-holder.FCStd filter=lfs diff=lfs merge=lfs -text
pill[[:space:]]boxes/pill-box-hex.FCStd filter=lfs diff=lfs merge=lfs -text
shop-tools/dowel-jig/38_dowel_jig_FACE_experiment.FCStd filter=lfs diff=lfs merge=lfs -text
shop-tools/vacuum-hose-adaptor/vacuum-hose-fit-test.FCStd filter=lfs diff=lfs merge=lfs -text
corny-cooler/corny-cooler.FCStd filter=lfs diff=lfs merge=lfs -text
emt-connectors/emt-half-inch-corner-test-fit.FCStd filter=lfs diff=lfs merge=lfs -text
piggie-cage/piggie-highrise.FCStd filter=lfs diff=lfs merge=lfs -text
pill[[:space:]]boxes/4x7-pill-bottle.FCStd filter=lfs diff=lfs merge=lfs -text
pill[[:space:]]boxes/pillbox.FCStd filter=lfs diff=lfs merge=lfs -text
cross-pipe-connectors/cross-pipe-connectorsv002.FCStd filter=lfs diff=lfs merge=lfs -text
perforator/perforator.FCStd filter=lfs diff=lfs merge=lfs -text
shop-layout/back[[:space:]]yard[[:space:]]layout[[:space:]].FCStd filter=lfs diff=lfs merge=lfs -text
shop-layout/shop-layout.FCStd filter=lfs diff=lfs merge=lfs -text
furniture/frontroom-mobile-desk.FCStd filter=lfs diff=lfs merge=lfs -text
knobs/knob-1_4.FCStd filter=lfs diff=lfs merge=lfs -text
shop-tools/dowel-jig/dowel-jig-v2-quarter-inch.FCStd filter=lfs diff=lfs merge=lfs -text
shop-tools/dowel-jig/dowel-jig.FCStd filter=lfs diff=lfs merge=lfs -text
table_gussets/table_gussets_v5.FCStd filter=lfs diff=lfs merge=lfs -text
shop-tools/wood-vise/bench-vise.FCStd filter=lfs diff=lfs merge=lfs -text
pill[[:space:]]boxes/7-sided-pill-box.FCStd filter=lfs diff=lfs merge=lfs -text
shop-tools/center-finder/center-finder.FCStd filter=lfs diff=lfs merge=lfs -text
shop-tools/dowel-jig/dowel-jig-fix.FCStd filter=lfs diff=lfs merge=lfs -text
shop-tools/dowel-jig/dowel-jig.sync-conflict-20220116-144656-C3KAUJD.FCStd filter=lfs diff=lfs merge=lfs -text
shop-tools/vacuum-hose-adaptor/vacuum-hose-adaptor-v2.FCStd filter=lfs diff=lfs merge=lfs -text
archive/bracelet-mold-cavity-test.FCStd filter=lfs diff=lfs merge=lfs -text
piggie-cage/piggie-cage-v0.0.1.FCStd filter=lfs diff=lfs merge=lfs -text
shop-layout/worktable.FCStd filter=lfs diff=lfs merge=lfs -text
archive/journal-spine.FCStd filter=lfs diff=lfs merge=lfs -text
demo/simple-box-expression-demo.FCStd filter=lfs diff=lfs merge=lfs -text
shop-tools/dowel-jig/doweljig-test.FCStd filter=lfs diff=lfs merge=lfs -text
shop-tools/shun_sharpener.FCStd filter=lfs diff=lfs merge=lfs -text
studio-keyboard-stand/studio-keyboard-stand.FCStd filter=lfs diff=lfs merge=lfs -text
emt-connectors/emt-conns.FCStd filter=lfs diff=lfs merge=lfs -text
emt-connectors/emt-half-inch-corner.FCStd filter=lfs diff=lfs merge=lfs -text
perforator/perforator.-v001FCStd.FCStd filter=lfs diff=lfs merge=lfs -text
pill[[:space:]]boxes/7[[:space:]]day[[:space:]]4[[:space:]]chamber[[:space:]]pill[[:space:]]wheel.FCStd filter=lfs diff=lfs merge=lfs -text
shop-tools/router-table.FCStd filter=lfs diff=lfs merge=lfs -text
shop-layout/various[[:space:]]removable[[:space:]]storage[[:space:]]needing[[:space:]]homes.FCStd filter=lfs diff=lfs merge=lfs -text
shop-tools/dowel-jig/dowel-jig-v2.FCStd filter=lfs diff=lfs merge=lfs -text
cross-pipe-connectors/cross-pipe-connectors.FCStd filter=lfs diff=lfs merge=lfs -text
demo/skewer-scaffold.FCStd filter=lfs diff=lfs merge=lfs -text
piggie-cage/piggie-cage.FCStd filter=lfs diff=lfs merge=lfs -text
shop-tools/vacuum-hose-adaptor/vacuum-hose-adaptor.FCStd filter=lfs diff=lfs merge=lfs -text
table_gussets/camlock-v1.FCStd filter=lfs diff=lfs merge=lfs -text
